#!/usr/bin/make -f

ifeq ($(DEB_HOST_ARCH), amd64)
	LIBHOSTFXR_ARCH = true
	RID_ARCH = x64
endif

ifeq ($(DEB_HOST_ARCH), i386)
	LIBHOSTFXR_ARCH = true
	RID_ARCH = x86
endif

ifeq ($(DEB_HOST_ARCH), armel)
	LIBHOSTFXR_ARCH = true
	RID_ARCH = armel
endif

ifeq ($(DEB_HOST_ARCH), armhf)
	LIBHOSTFXR_ARCH = true
	RID_ARCH = arm
endif

ifeq ($(DEB_HOST_ARCH), arm64)
	LIBHOSTFXR_ARCH = true
	RID_ARCH = arm64
endif

override_dh_auto_configure:
	true

override_dh_auto_install:
ifdef LIBHOSTFXR_ARCH
	install -D -m 644 ./bin/linux-$(RID_ARCH).Release/corehost/libhostfxr.so debian/msbuild-libhostfxr/usr/lib/mono/msbuild/Current/bin/SdkResolvers/Microsoft.DotNet.MSBuildSdkResolver/libhostfxr.so
else
	true
endif

override_dh_auto_build:
ifdef LIBHOSTFXR_ARCH
	cd src/corehost && ./build.sh --configuration Release --arch $(RID_ARCH) --commithash ee54d4cbd2b305eadf6f341bdc9d4abccdb50559 --policyver 3.0.0-preview4-27615-73 --fxrver 3.0.0-preview4-27615-73 --apphostver 3.0.0-preview4-27615-73 --hostver 3.0.0-preview4-27615-73 -portable
else
	true
endif

%:
	dh $@
