#!/usr/bin/make -f

ifneq (,$(wildcard /usr/bin/gcc-4.7))
        GCC := CC=/usr/bin/gcc-4.7 CXX=/usr/bin/g++-4.7
endif

ifneq (,$(wildcard /usr/lib/gcc-mozilla/bin/gcc))
        GCC := CC=/usr/lib/gcc-mozilla/bin/gcc CXX=/usr/lib/gcc-mozilla/bin/g++
endif


override_dh_auto_configure:
override_dh_auto_install:
	true

override_dh_auto_build:
	cd src/corehost/cli/fxr/ && $(GCC) cmake . -DCLI_CMAKE_PLATFORM_ARCH_AMD64=1 -DCLI_CMAKE_HOST_POLICY_VER=1.0.0 -DCLI_CMAKE_HOST_FXR_VER=2.0.0-preview2-25407-01 -DCLI_CMAKE_HOST_VER=1.0.0 -DCLI_CMAKE_APPHOST_VER=1.0.0 -DCLI_CMAKE_PKG_RID=ubuntu.14.04-x64 -DCLI_CMAKE_COMMIT_HASH=bd3f818bad84f1296b4ee53f72ab8837b3caac98 -DCLI_CMAKE_PORTABLE_BUILD=1 && $(GCC) make

%:
	dh $@


