#!/usr/bin/make -f

ifneq (,$(wildcard /usr/bin/gcc-4.7))
        GCC := CC=/usr/bin/gcc-4.7 CXX=/usr/bin/g++-4.7
endif

ifneq (,$(wildcard /usr/lib/gcc-mozilla/bin/gcc))
        GCC := CC=/usr/lib/gcc-mozilla/bin/gcc CXX=/usr/lib/gcc-mozilla/bin/g++
endif

ifeq ($(DEB_HOST_ARCH), amd64)
        CMAKEARCH := CLI_CMAKE_PLATFORM_ARCH_AMD64=1
	LIBHOSTFXR_ARCH = true
endif

ifeq ($(DEB_HOST_ARCH), i386)
        CMAKEARCH := CLI_CMAKE_PLATFORM_ARCH_I386=1
	LIBHOSTFXR_ARCH = true
endif

ifeq ($(DEB_HOST_ARCH), armel)
        CMAKEARCH := CLI_CMAKE_PLATFORM_ARCH_ARM=1
	LIBHOSTFXR_ARCH = true
endif

ifeq ($(DEB_HOST_ARCH), armhf)
        CMAKEARCH := CLI_CMAKE_PLATFORM_ARCH_ARM=1
	LIBHOSTFXR_ARCH = true
endif

ifeq ($(DEB_HOST_ARCH), arm64)
        CMAKEARCH := CLI_CMAKE_PLATFORM_ARCH_ARM64=1
	LIBHOSTFXR_ARCH = true
endif

override_dh_auto_configure:
	true

override_dh_auto_install:
ifdef LIBHOSTFXR_ARCH
	install -D -m 644 src/corehost/cli/fxr/libhostfxr.so debian/msbuild-libhostfxr/usr/lib/mono/msbuild/15.0/bin/SdkResolvers/Microsoft.DotNet.MSBuildSdkResolver/libhostfxr.so
else
	true
endif

override_dh_auto_build:
ifneq (,$(wildcard /usr/lib/gcc-mozilla/bin/gcc))
        patch -p1 < debian/patches/static-libstdcplusplus 
endif
ifdef LIBHOSTFXR_ARCH
	cd src/corehost/cli/fxr/ && $(GCC) cmake . -D$(CMAKEARCH) -DCLI_CMAKE_HOST_POLICY_VER=1.0.0 -DCLI_CMAKE_HOST_FXR_VER=2.0.0-preview2-25407-01 -DCLI_CMAKE_HOST_VER=1.0.0 -DCLI_CMAKE_APPHOST_VER=1.0.0 -DCLI_CMAKE_PKG_RID=ubuntu.14.04-x64 -DCLI_CMAKE_COMMIT_HASH=bd3f818bad84f1296b4ee53f72ab8837b3caac98 -DCLI_CMAKE_PORTABLE_BUILD=1 && $(GCC) make
else
	true
endif

%:
	dh $@
